body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 50px;
  background-color: #f8f9fa;
}

h2 {
  color: #343a40;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
}

input::placeholder {
  font-size: 0.95rem;
}

button {
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
  color: #fff;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #e2e6ea !important;
}
